apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: advanced-one
  namespace: udl
spec:
  chartRef:
    kind: OCIRepository
    name: tf2chart
    namespace: default
  interval: 10m
  targetNamespace: udl
  values:
    workload:
      kind: Deployment # Deployment or StatefulSet
      nameOverride: "advanced-one"
      deploymentStrategy:
        type: Recreate

    app:
      name: advanced-one
      image:
        repository: ghcr.io/udl-tf/tf2-image
        tag: latest
        pullPolicy: IfNotPresent
      containerPort: 58015
      ports:
        - name: game-udp
          containerPort: 58015
          protocol: UDP
      env:
        - name: SRCDS_PORT
          value: "58015"
      command: []
      args: []
      stdin: true
      tty: true

    paths:
      hostSource: /mnt/tf2
      hostPathType: Directory
      containerTarget: /tf

    overlays:
      - name: serverfiles-base
        path: /mnt/serverfiles
        sourcePath: serverfiles/base
        hostPathType: Directory
        readOnly: true
        watchParentDepth: 1
        extraWatchPaths:
          - /mnt/serverfiles/serverfiles
          - /mnt/serverfiles

    writablePaths:
      - tf/logs

    hostNetwork: false
    dnsPolicy: ""
    serviceAccountName: ""

    service:
      enabled: false
      type: ClusterIP
      port: 28015
      targetPort: 28015
      ports:
        - name: game-udp
          port: 28015
          targetPort: game-udp
          protocol: UDP
      nameOverride: ""
      headless: false
      clusterIP: ""
      externalTrafficPolicy: ""
      annotations: {}
