apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:10
          envFrom:
            - secretRef:
                name: mariadb-credentials
          ports:
            - containerPort: 3306
              name: mysql
          volumeMounts:
            - name: mariadb-data
              mountPath: /var/lib/mysql
            - name: mariadb-config
              mountPath: /etc/mysql/conf.d
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
      volumes:
        - name: mariadb-data
          hostPath:
            path: /mnt/mariadb/data
            type: DirectoryOrCreate
        - name: mariadb-config
          hostPath:
            path: /mnt/mariadb/config
            type: DirectoryOrCreate
